{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2021",
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./src",
    "paths": {
      "@domain/*": ["domain/*"],
      "@infra/*": ["infra/*"],
      "@main/*": ["main/*"],
      "@presentation/*": ["presentation/*"],
      "@tests/*": ["../tests/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "env": {
    "targets": {
      "node": 16
    }
  },
  "sourceMaps": true
}